@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: 'heavy';
  src: url('./assets/font/Fontspring-DEMO-integralcf-heavy.otf');
}

@font-face {
  font-family: 'medium';
  src: url('./assets/font/Fontspring-DEMO-integralcf-medium.ttf');
}

@font-face {
  font-family: 'helvetica';
  src: url('./assets/font/HelveticaNowDisplay-Bold.otf');
}

body{
  background-color: #2A2A2A;
}

